body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.object-request-popup-form-grid {
  grid-template-areas:
    "a b b c c"
    "d e e f f"
    "g h i j .";
}

.column-label-input .ant-form-item-label {
  text-align: left;
}

.column-label-input .ant-col {
  min-height: unset;
}

.column-label-input .ant-form-item-row {
  flex-direction: column;
}

.registry-table table {
  width: 100%;
}

.registry-table .header {
  font-size: 12px;
  line-height: 15px;
  opacity: 0.4;
}

.registry-table td {
  padding: 0.7vw 1vw;
  border: none;
}

.registry-table tr {
  transition: 0.4s;
}

.registry-table tr:hover {
  background: #e4e4e4;
}

.registry-table tr.active {
  background: #bebebe;
}

.new {
  background: #fbdb33;
  border-radius: 5px;
}

.wip {
  background: #c3c3c3;
  border-radius: 5px;
}

.done {
  background: #2ad300;
  border-radius: 5px;
}
